
Powered by <%= @whom %> 
Running on container ID <%= @container %>

<form action='/upload' method='post' accept-charset="utf-8" enctype="multipart/form-data">
  <label for='content_file'>Image</label>
  <input type="file" name="content[file]" id="content_file" />
  <button type='submit'>Save</button>
</form>
